<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-title">
        <h3>Settings</h3>
      </div>
      <h4>You have authorized the following applications:</h4>

      <% if (user.ServiceProviders.length===0) { %>
        <p>You have not authorized any applications.</p>
        <% } else { %>
          <table class="table">
            <tr>
              <th>App Name</th>
              <th>Authorized Data</th>
              <th>Actions</th>
            </tr>
            <% for (let app of user.ServiceProviders) { %>
              <tr>
                <td>
                  <%= app.name %>
                </td>
                <td>
                  <%= app.Authorization.scopes.split(' ').join(' , ') %></td>
                  <td>
                    <a href="/authorization/revoke/<%= app.client_id %>">Revoke</a>
                  </td>
                </tr>
              <% } %>
            </table>
        <% } %>
      </div> 
    </div> 
</div>